<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span #appTitle></span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="icon" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a routerLink="/products-list" class="router-link">
            <mat-icon>shopping_basket</mat-icon>
            <span>Products</span>
          </a>
        </button>
        <button mat-menu-item>
          <a routerLink="/cart" class="router-link">
            <mat-icon>shopping_cart</mat-icon>
            <span>Cart</span>
          </a>
        </button>
        <button mat-menu-item>
          <a routerLink="/admin" class="router-link">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
          </a>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<div>
  <router-outlet></router-outlet>
</div>
