<div>
  <ng-template #emptyBlock>Cart list is empty</ng-template>
  <div *ngIf="items.length !== 0; else emptyBlock">
    <div *ngFor="let item of items | orderBy:[selectedOrderBy]">
      <app-cart-item
        [cartItem]="item"
        (changeCount)="onChangeCount($event)"
        (deleteItem)="onDeleteItem($event)">
      </app-cart-item>
    </div>
  </div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Order by</mat-label>
      <mat-select [(ngModel)]="selectedOrderBy">
        <mat-option *ngFor="let orderBy of orderByArray" [value]="orderBy.value">
          {{orderBy.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="isAscending">Is ascending</mat-checkbox>
  </div>
</div>
